@charset "UTF-8";

/*import fonts file*/
@import url(./fonts.css);

/*CSS Variables*/
@import url(./partials/_variable.css);
@import url(./partials/_global.css);

/*Global open*/
.hidden{
	display: none;
}

/*Start navigation*/

.header_area .main-menu .navbar{
	padding-right: 10rem;
}

.header_area .main-menu .nav-link{
	font: normal 500 17px/2px var(--roboto);
	padding: 2rem;
	color: var(--primary-color2);
}

.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/*End navigation*/

/*Hero img open*/
 .site-main .site-banner{
	background: url(../images/banner/home-banner.png) no-repeat 0% 0%;
	background-size: 90%;
 }

 .site-main .site-banner h3{
	padding-top: 25%;
	padding-left: 10%;
	font-weight: 500;
	font-size: 3rem;
 }

 .site-main .site-banner h1{
	 font-size: 3.5rem;
	 padding-left: 10%;
	 color: var(--gradient-color);
 }

 .site-main .site-banner h4{
	 font-size: 2rem;
	 padding-left: 10%;
 }

/*Hero img close*/

/* Services Area */ 

.site-main .services-area{
	padding: 15rem 2rem;
}

.site-main .services-area .services-title{
    padding: 0 14rem;
}

.site-main .services-area .services-title h1{
    font-size: 35px;
}

.sevices-img img{
	width: 15rem;
}

.site-main > .services-area .services{
    background: rgba(248, 252, 253, 0.973);
	transition: box-shadow .7s ease;
	height: 25rem;
}

.site-main > .services-area .services:hover{
    box-shadow: var(--box-shadow);
}

/* End Services Area */ 

/*Professional Journey Open*/
.site-main .about-area{
    padding: 8rem 5rem;
}

.site-main .about-area .about-title h2 > span{
    display: block;
    font: normal bold 49px/ 60px var(--roboto);
    letter-spacing: 21px;
}

.site-main .about-area .about-title .paragraph > p{
    padding: .4rem 0;
}


/*Professional Journey close */

/* Gallery Open*/

.site-main .project-area{
	padding: 4rem 0;
}

.site-main .project-area .button-group button{
	background: transparent;
	border: none;
	font: normal 500 16px/130px var(--roboto);
	text-transform: uppercase;
}

.site-main .project-area .button-group button + button{
	padding-left: 3rem;
}

.site-main .project-area .grid .our-project > .titleh4{
	font:normal 700 25px/12px var(--roboto);
}

/* Gallery Closed*/

/*Contact form bkg open*/

.contact-sec .contactcon {
	background: url(../images/form-bkg.png) no-repeat 0% 0%;
	background-size: 50%;
 }




/*Contact form bkg close*/

/* Footer Open */



/* Footer Close */


/*Trevors code below for example*/
/*body{background-color:#333;color:#fff;
	font-size:16px;
	font-family:"arial","helvetica",sans-serif}
main{padding:20px}main h2{
	text-transform:uppercase;
	color:rgba(255,255,255,.5);
	font-size:1.5em;margin-bottom:.8em}
main hr{
	width:80%;
	border:1px solid rgba(255,255,255,.5);
	margin:40px 0}
main p{max-width:75%}

@font-face{font-family:"Font Awesome 5 Free";font-style:normal;font-weight:900;font-display:block;src:url("../webfonts/fa-solid-900.eot");src:url("../webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"),url("../webfonts/fa-solid-900.woff2") format("woff2"),url("../webfonts/fa-solid-900.woff") format("woff"),url("../webfonts/fa-solid-900.ttf") format("truetype"),url("../webfonts/fa-solid-900.svg#fontawesome") format("svg")}.fa,.fas{font-family:"Font Awesome 5 Free";font-weight:900}label{display:block;margin:1.5em 0 .3em;padding-left:.4em}label:first-of-type{margin-top:0}input[type=text],input[type=email],textarea{padding:.6em;color:#333;border-radius:4px;width:250px}textarea{resize:none;display:block}.submit-wrapper{display:inline-block;margin-top:2em;padding:.75rem 1rem;border-radius:.5rem;background-color:#78abeb;cursor:pointer;font-size:1.2em;color:#fff}.submit-wrapper:hover{background-color:#5588c8}.submit-wrapper span{padding-right:.5em}/*# sourceMappingURL=style.css.map */
